.home-container {
    margin: 180px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.hero-content {
    max-width: 30rem;
}

.hero-content > h1 {
    font-size: 3.5rem;
    text-align: center;
    line-height: 1.2;
    font-style: italic;
}

.hero-content > p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 15px;
}

.cta-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.cta {
    padding: 0.75rem 1.1rem;
    background-color: #1976d2;
    border: transparent;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease;
}

.cta:hover {
    background-color: goldenrod;
    color: #fff;
}


.cta-2 {
    padding: 0.75rem 1.1rem;
    background: transparent;
    border: 1px solid #1976d2;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #1976d2;
    cursor: pointer;
    transition: all 0.4s ease;
}

.cta-2:hover {
    background: transparent;
    border: 1px solid goldenrod;
    color: goldenrod;
}

.hero-image {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}

/* Tablet */
@media (max-width: 990px) {
    .home-container {
        flex-direction: column;
        width: 90%;
    }
}


/* Mobile */
@media (max-width: 450px) {
    .home-container {
        margin: 100px auto;
    }

    .hero-content > h1 {
        font-size: 3rem;
    }

    .hero-content > p {
        font-size: 1.2rem;
    }

    .hero-image {
        width: 20rem;
    }
}