.profile-container {
    width: 350px;
    margin: 110px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3px black;
}

.profile-image {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.profile-form label {
    margin-top: 0.8em;
    font-size: 0.9rem;
}

.profile-form input {
    padding: 0.2rem;
    margin-top: 0.2em;
    border: 1px solid #4e4545ba;
    border-radius: 3px;
}

.profile-btn {
    margin: 1em;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #4e4545ba;
}

@media only screen and (max-width: 425px) {
    .profile-container {
        width: 220px;
        margin-left: 90px;
    }
}