@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;1,500&family=Merriweather+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Alegreya;
    text-decoration: none;
    list-style: none;
}